/* Estilos para el formulario de crear cuenta */
body {
    background-color: #080202; 
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
}
form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 50px auto;
  /* Centra el formulario */
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #FF3C2A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

button:hover {
  background-color: #FF5733;
}

.mt-4 {
  margin-top: 20px;
}