{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contraseña Cambiada</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style> body { background-color: #080202; color: white; text-align: center; padding-top: 100px; font-family: 'Poppins'; } </style>
</head>
<body>
    <h1>¡Listo! 🎉</h1>
    <p>Tu contraseña ha sido cambiada exitosamente.</p>
    <br>
    <a href="{% url 'iniciar_sesion' %}" class="btn-1">Iniciar Sesión Ahora</a>
</body>
</html>